         <div>
                              <div class="thinboxLeft">
                                            <div class="summaryPlotsScreen" id="summaryProgressChart">
                                                <div style="width: 100%; height: 500px;"  id="summaryCumulativeEnergy"></div>
                                                <div style="width: 100%; height: 500px;" id="summaryCumulativeProtein"></div>
                                                <div style="width: 100%; height: 500px;" id="summaryGastricAspirate"></div>
                                            </div>
                                        </div>
                                        <div class="thinboxRight">
                                            <div>
                                                <ul>
                                                    <li>
                                                        <input class="button-new" type="button" onclick="printSummary();" value="Print Summary"></input>
                                                    </li>
                                                    <li>
                                                        <input class="button-new" type="button" onclick="printGraph();" value="Print Graphs"></input>
                                                    </li>
                                                    <li>
                                                        <label>Days since last recorded bowel action:</label><br /><input type="text" id="sumNumberOfDaysSinceBowelsOpened" class="calculated" size="2"/>
                                                    </li>
                                                    <li>
                                                        <label>EN Target Rate:</label><br /><input type="text" id="sumEnTargetRate" class="calculated" size="4"/>
                                                    </li>
                                                    <li>
                                                        <label>EN Target Hours:</label><br /><input type="text" id="sumEnTargetHours" class="calculated" size="2"/>
                                                    </li>
                                                    <li>
                                                        <label>EN Formula:</label><br /><input type="text" id="sumEnFormula" class="calculated" size="20"/>
                                                    </li>
                                                    <li>
                                                        <label>PN Target Rate:</label><br /><input type="text" id="sumPnTargetRate" class="calculated" size="4"/>
                                                    </li>
                                                    <li>
                                                        <label>PN Target Hours:</label><br /><input type="text" id="sumPnTargetHours" class="calculated" size="2"/>
                                                    </li>
                                                    <li>
                                                        <label>PN Formula:</label><br /><input type="text" id="sumPnFormula" class="calculated" size="20"/>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                        </div>